import * as Styled from './styles'

// export type {{pascalCase name}}Props = {}

const {{pascalCase name}} = () => (
  <Styled.Container>
    <h1>{{pascalCase name}}</h1>
  </Styled.Container>
)

export default {{pascalCase name}}
