// import * as styles from './styles'

export type {{pascalCase name}}Props = {}

const {{pascalCase name}} = () => (
  <>
    <h1>{{pascalCase name}}</h1>
  </>
)

export default {{pascalCase name}}
